# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Reactjs/Aulas/01-fundamentos-react-js/node_modules
Reactjs/Aulas/01-fundamentos-react-js/.pnp
Reactjs/Aulas/01-fundamentos-react-js/.pnp.js
Reactjs/Aulas/01-fundamentos-reactjs-ts/node_modules
Reactjs/Aulas/01-fundamentos-reactjs-ts/.pnp
Reactjs/Aulas/01-fundamentos-reactjs-ts/.pnp.js

# testing
Reactjs/Aulas/01-fundamentos-react-js/coverage
Reactjs/Aulas/01-fundamentos-reactjs-ts/coverage

# production
Reactjs/Aulas/01-fundamentos-react-js/build
Reactjs/Aulas/01-fundamentos-react-js/out
Reactjs/Aulas/01-fundamentos-react-js/.next
Reactjs/Aulas/01-fundamentos-reactjs-ts/build
Reactjs/Aulas/01-fundamentos-reactjs-ts/out
Reactjs/Aulas/01-fundamentos-reactjs-ts/.next

# misc
Reactjs/Aulas/01-fundamentos-react-js/.DS_Store
Reactjs/Aulas/01-fundamentos-react-js/.eslintcache
Reactjs/Aulas/01-fundamentos-react-js/.idea
Reactjs/Aulas/01-fundamentos-react-js/.env
Reactjs/Aulas/01-fundamentos-react-js/.env.local
Reactjs/Aulas/01-fundamentos-react-js/.env.development.local
Reactjs/Aulas/01-fundamentos-react-js/.env.test.local
Reactjs/Aulas/01-fundamentos-react-js/.env.production.local
Reactjs/Aulas/01-fundamentos-reactjs-ts/.DS_Store
Reactjs/Aulas/01-fundamentos-reactjs-ts/.eslintcache
Reactjs/Aulas/01-fundamentos-reactjs-ts/.idea
Reactjs/Aulas/01-fundamentos-reactjs-ts/.env
Reactjs/Aulas/01-fundamentos-reactjs-ts/.env.local
Reactjs/Aulas/01-fundamentos-reactjs-ts/.env.development.local
Reactjs/Aulas/01-fundamentos-reactjs-ts/.env.test.local
Reactjs/Aulas/01-fundamentos-reactjs-ts/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
